/* MY STYLES */

.menuLink {
    font-weight: 600;
    font-family: soleil, sans-serif!important;
}

.headerImage {
    width: unset !important;
    position: relative !important;
}

.slickLogos img {
    width: 120px;
}

.blockItem {
    padding: 1rem !important;
}